In [1]:
import numpy as np
import pandas as pd
import fileinput
import json
from tqdm import tqdm
tqdm.pandas()

In [2]:
%%time

df = pd.read_json('export-1_k.json')
  
df.head()

CPU times: user 1min 15s, sys: 57.8 s, total: 2min 13s
Wall time: 2min 25s

,title,author,content
0,"Danny Coale, Jarrett Boykin are a perfect 1-2 ...",Mark Giannotto,"[{'content': 'Colleges', 'mime': 'text/plain',..."
1,Bubbly planet Venus starts off New Year,Blaine P. Friedlander Jr.,"[{'content': 'Local', 'mime': 'text/plain', 't..."
2,Iowa caucuses: GOP presidential hopefuls makin...,Karen Tumulty,"[{'content': 'Politics', 'mime': 'text/plain',..."
3,"John Wall, Wizards seek to pick up their spirits",Michael Lee,"[{'content': 'Wizards/NBA', 'mime': 'text/plai..."
4,Developer of Maryland housing office in Prince...,Ovetta Wiggins,"[{'content': 'Local', 'mime': 'text/plain', 't..."

In [5]:
dfK = df.sample(n = 12000)

In [4]:
dfK

,title,author,content
127500,"At Ivy Baldwin Dance’s ‘Oxbow,’ only the danci...",Sarah Kaufman,"[{'content': 'Theater & Dance', 'mime': 'text/..."
97864,"Right on schedule, new Manager Matt Williams o...",Thomas Boswell,"[{'content': 'Nationals/MLB', 'mime': 'text/pl..."
43583,Hillary Clinton to return to work next week,Anne Gearan,"[{'content': 'National Security', 'mime': 'tex..."
273293,Google Maps trained us to follow directions. N...,Brian Fung,"[{'content': 'The Switch', 'mime': 'text/plain..."
111332,Lockheed Martin wins Space Fence contract,Christian Davenport,"[{'content': 'Business', 'mime': 'text/plain',..."
...,...,...,...
45307,Human Rights Watch says D.C. police fail to in...,Peter Hermann,"[{'content': 'Local', 'mime': 'text/plain', 't..."
633299,Why Joe Biden had to work with segregationists,Marcus Witcher,"[{'content': 'Made by History', 'mime': 'text/..."
126886,‘Absolutely! {Perhaps}’: Eye-catching (but fru...,Jane Horwitz,"[{'content': 'Theater & Dance', 'mime': 'text/..."
484082,Soccer to watch on TV and online this weekend,Steven Goff,"[{'content': 'Soccer Insider', 'mime': 'text/p..."
625538,Republicans may never forgive Justin Amash. Th...,Eugene Robinson,"[{'content': 'Opinions', 'mime': 'text/plain',..."

In [12]:
%%time
maxx= len(dfK)
abschnitt = int(maxx/4)
i = 1
start = 0
end = abschnitt

while(end <= maxx):
    df[start:end].to_json("12/"+str(i)+".json",orient ="index")
    start = start + abschnitt
    end = end + abschnitt
    i+=1

CPU times: user 551 ms, sys: 176 ms, total: 727 ms
Wall time: 725 ms