In [1]:
import numpy as np
import pandas as pd
import fileinput
import json
from tqdm import tqdm
tqdm.pandas()

In [2]:
%%time

df = pd.read_json('export-1_k.json')
  
df.head()

CPU times: user 1min 10s, sys: 31.4 s, total: 1min 41s
Wall time: 1min 41s

,title,author,content
0,"Danny Coale, Jarrett Boykin are a perfect 1-2 ...",Mark Giannotto,"[{'content': 'Colleges', 'mime': 'text/plain',..."
1,Bubbly planet Venus starts off New Year,Blaine P. Friedlander Jr.,"[{'content': 'Local', 'mime': 'text/plain', 't..."
2,Iowa caucuses: GOP presidential hopefuls makin...,Karen Tumulty,"[{'content': 'Politics', 'mime': 'text/plain',..."
3,"John Wall, Wizards seek to pick up their spirits",Michael Lee,"[{'content': 'Wizards/NBA', 'mime': 'text/plai..."
4,Developer of Maryland housing office in Prince...,Ovetta Wiggins,"[{'content': 'Local', 'mime': 'text/plain', 't..."

In [4]:
%%time
maxx= len(df)
abschnitt = int(maxx/20)

start = 0
end = abschnitt

while(end <= maxx):
    df[start:end].to_json("chunks_kk/"+str(start)+"-"+str(end-1)+".json",orient="index")
    start = start + abschnitt
    end = end + abschnitt

CPU times: user 38 s, sys: 18 s, total: 56.1 s
Wall time: 56 s