In [8]:
import numpy as np
import pandas as pd
import fileinput
import json
from tqdm import tqdm
tqdm.pandas()

import pickle

In [2]:
%%time

df = pd.read_json('export-4_k.json', orient = "index")
  
df.head()

CPU times: user 1min 21s, sys: 35.6 s, total: 1min 57s
Wall time: 1min 56s

                                               contents
0     [{'content': 'Colleges', 'mime': 'text/plain',...
1     [{'content': 'Local', 'mime': 'text/plain', 't...
10    [{'content': 'Local', 'mime': 'text/plain', 't...
100   [{'content': 'Redskins/NFL', 'mime': 'text/pla...
1000  [{'content': 'Politics', 'mime': 'text/plain',...

In [3]:
len(df)

728626

In [12]:
df12 = df.sample(n = 12000, random_state = 11128330) #kiri: 11136561

In [13]:
df12

                                                 contents
221068  [{'content': 'Public Safety', 'mime': 'text/pl...
602498  [{'content': 'Colleges', 'mime': 'text/plain',...
502017  [{'content': 'WorldViews', 'mime': 'text/plain...
629311  [{'content': 'Capital Weather Gang', 'mime': '...
622204  [{'content': 'Transportation', 'mime': 'text/p...
...                                                   ...
587261  [{'content': 'Voraciously', 'mime': 'text/plai...
435995  [{'content': 'Early Lead', 'mime': 'text/plain...
665371  [{'content': 'Capital Weather Gang', 'mime': '...
27094   [{'content': 'Politics', 'mime': 'text/plain',...
17596   [{'content': 'Transportation', 'mime': 'text/p...

[12000 rows x 1 columns]

In [14]:
%%time
maxx= len(df12)
abschnitt = int(maxx/6)
i = 1
start = 0
end = abschnitt

while(end <= maxx):
    df[start:end].to_json("12_4/"+str(i)+".json",orient ="index")
    start = start + abschnitt
    end = end + abschnitt
    i+=1

CPU times: user 998 ms, sys: 189 ms, total: 1.19 s
Wall time: 1.18 s

In [15]:
%%time
df12.to_pickle("12_4/12.pkl")

CPU times: user 2.13 s, sys: 379 ms, total: 2.51 s
Wall time: 2.52 s