In [1]:
import numpy as np
import pandas as pd
import fileinput
import json
from tqdm import tqdm
tqdm.pandas()

In [2]:
%%time

df = pd.read_json('export-4_k.json', orient = "index")
  
df.head()

CPU times: user 1min 21s, sys: 35.6 s, total: 1min 57s
Wall time: 1min 56s

                                               contents
0     [{'content': 'Colleges', 'mime': 'text/plain',...
1     [{'content': 'Local', 'mime': 'text/plain', 't...
10    [{'content': 'Local', 'mime': 'text/plain', 't...
100   [{'content': 'Redskins/NFL', 'mime': 'text/pla...
1000  [{'content': 'Politics', 'mime': 'text/plain',...

In [3]:
len(df)

728626

In [4]:
df12 = df.sample(n = 12000)

In [5]:
df12

                                                 contents
447217  [{'content': 'Grade Point', 'mime': 'text/plai...
417527  [{'content': 'Speaking of Science', 'mime': 't...
706631  [{'content': 'Virginia Politics', 'mime': 'tex...
206034  [{'content': 'Home & Garden', 'mime': 'text/pl...
506469  [{'content': 'Checkpoint', 'mime': 'text/plain...
...                                                   ...
543126  [{'content': 'Economic Policy', 'mime': 'text/...
595805  [{'content': 'Washington Redskins', 'mime': 't...
162687  [{'content': 'Opinions', 'mime': 'text/plain',...
91604   [{'content': 'Style', 'mime': 'text/plain', 't...
615730  [{'content': 'College Sports', 'mime': 'text/p...

[12000 rows x 1 columns]

In [7]:
%%time
maxx= len(df12)
abschnitt = int(maxx/6)
i = 1
start = 0
end = abschnitt

while(end <= maxx):
    df[start:end].to_json("12_4/"+str(i)+".json",orient ="index")
    start = start + abschnitt
    end = end + abschnitt
    i+=1

CPU times: user 640 ms, sys: 300 ms, total: 940 ms
Wall time: 938 ms