In [2]:
import numpy as np
import pandas as pd
import fileinput
import json
from tqdm import tqdm
tqdm.pandas()

In [6]:
%%time

df = pd.read_json('export-3_k.json', orient = "index")
  
df.head()

CPU times: user 1min 16s, sys: 29.1 s, total: 1min 45s
Wall time: 1min 45s

,title,author,contents
0,"Danny Coale, Jarrett Boykin are a perfect 1-2 ...",Mark Giannotto,"[{'content': 'Colleges', 'mime': 'text/plain',..."
1,Bubbly planet Venus starts off New Year,Blaine P. Friedlander Jr.,"[{'content': 'Local', 'mime': 'text/plain', 't..."
2,Iowa caucuses: GOP presidential hopefuls makin...,Karen Tumulty,"[{'content': 'Politics', 'mime': 'text/plain',..."
3,"John Wall, Wizards seek to pick up their spirits",Michael Lee,"[{'content': 'Wizards/NBA', 'mime': 'text/plai..."
4,Developer of Maryland housing office in Prince...,Ovetta Wiggins,"[{'content': 'Local', 'mime': 'text/plain', 't..."

In [7]:
len(df)

728626

In [8]:
dfK = df.sample(n = 12000), random_state = 11128330

In [9]:
dfK

,title,author,contents
74332,"In Egypt, calm starts to come after crackdown,...",Liz Sly,"[{'content': 'World', 'mime': 'text/plain', 't..."
540048,Vegas Golden Knights go all-in on NHL playoffs...,Desmond Bieler,"[{'content': 'Sports', 'mime': 'text/plain', '..."
393570,Just how secure are private e-mail servers? Hi...,Elise Viebeck,"[{'content': 'PowerPost', 'mime': 'text/plain'..."
671144,Corporations paid 11.3 percent tax rate last y...,Jeff Stein; Christopher Ingraham,"[{'content': 'Business', 'mime': 'text/plain',..."
76641,None,,"[{'content': 'Local', 'mime': 'text/plain', 't..."
...,...,...,...
288137,Wayne Brady named new BET Honors host,The Reliable Source,"[{'content': 'Reliable Source', 'mime': 'text/..."
348150,Decoding the secret black sites on the Senate’...,Adam Goldman; Julie Tate,"[{'content': 'WorldViews', 'mime': 'text/plain..."
677460,The Super Bowl favorite food map remains decad...,Matt Bonesteel,"[{'content': 'NFL', 'mime': 'text/plain', 'sec..."
168324,This rare illness makes people think they’re dead,Meeri Kim,"[{'content': 'Health & Science', 'mime': 'text..."
131563,The day Governor Hogan made me miss my bus,Camille Kirsch,"[{'content': 'Community Relations', 'mime': 't..."

In [11]:
%%time
maxx= len(dfK)
abschnitt = int(maxx/4)
i = 1
start = 0
end = abschnitt

while(end <= maxx):
    df[start:end].to_json("12_3/"+str(i)+".json",orient ="index")
    start = start + abschnitt
    end = end + abschnitt
    i+=1

CPU times: user 817 ms, sys: 212 ms, total: 1.03 s
Wall time: 1.03 s

In [12]:
dfK

,title,author,contents
74332,"In Egypt, calm starts to come after crackdown,...",Liz Sly,"[{'content': 'World', 'mime': 'text/plain', 't..."
540048,Vegas Golden Knights go all-in on NHL playoffs...,Desmond Bieler,"[{'content': 'Sports', 'mime': 'text/plain', '..."
393570,Just how secure are private e-mail servers? Hi...,Elise Viebeck,"[{'content': 'PowerPost', 'mime': 'text/plain'..."
671144,Corporations paid 11.3 percent tax rate last y...,Jeff Stein; Christopher Ingraham,"[{'content': 'Business', 'mime': 'text/plain',..."
76641,None,,"[{'content': 'Local', 'mime': 'text/plain', 't..."
...,...,...,...
288137,Wayne Brady named new BET Honors host,The Reliable Source,"[{'content': 'Reliable Source', 'mime': 'text/..."
348150,Decoding the secret black sites on the Senate’...,Adam Goldman; Julie Tate,"[{'content': 'WorldViews', 'mime': 'text/plain..."
677460,The Super Bowl favorite food map remains decad...,Matt Bonesteel,"[{'content': 'NFL', 'mime': 'text/plain', 'sec..."
168324,This rare illness makes people think they’re dead,Meeri Kim,"[{'content': 'Health & Science', 'mime': 'text..."
131563,The day Governor Hogan made me miss my bus,Camille Kirsch,"[{'content': 'Community Relations', 'mime': 't..."